.navbar {
    min-height: 50px;
}

.navbar-brand {
    padding: 0 20px;
    height: 40px;
    line-height: 20px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 13px;
    padding: 3px 5px !important;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 10.5px;
        padding-bottom: 10.5px;
        line-height: 30px;
    }
}

nav.navbar {
    padding-top: 1px;
    padding-bottom: 1px;
}