@import url(fonts/thsarabunnew.css);
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'THSarabunNew', sans-serif;
    font-size: 0.80em;
    line-height: 0.30em;
    background: #e1e1e1;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 2em;
    clear: both;
}

h2 {
    background: #0F7AC2;
    padding: 0 10px;
    color: #FFF;
    margin: 20px 0 10px;
}

p {
    padding: 0 0 10px 0;
}

.n {
    font-weight: normal;
    font-style: normal;
}

.b {
    font-weight: bold;
    font-style: normal;
}

.i {
    font-weight: normal;
    font-style: italic;
}

.bi {
    font-weight: bold;
    font-style: italic;
}

ul,
ol {
    padding: 0 0 10px 0;
}

li {
    margin: 0 0 0 2em;
    padding: 0 0 5px 0;
}

code {
    background: #FFF;
}

#container {
    width: 900px;
    margin: 20px auto 0;
    border: 1px solid #333;
    padding: 20px;
    background: #FFF;
}

#instruction {
    padding: 10px 10px 0;
    background: #e6e6e6;
}

#footer {
    width: 940px;
    margin: 0 auto;
    padding: 10px 0 20px;
}

.right {
    text-align: right;
}

.type {
    font-family: 'THSarabunNew', sans-serif;
    height: 5em;
    width: 98%;
    font-size: 1em;
    clear: both;
    margin: 20px auto 10px;
    padding: 5px 1%;
}